.main {
  position: relative;
  padding: 0 45px;
  overflow: hidden;

  .content {
    color: var(--color-primary);
    padding-bottom: 20px;

    .search_input_container {
      display: flex;
      justify-content: center;

      input {
        color: var(--color-muted);
        font-size: 15px;

        border: 2px solid #ffffff;
        border-radius: 70px;
        background-color: transparent;

        padding: 7px 20px;
      }
    }

    .search_options {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 5px;

      padding-top: 10px;
      padding-bottom: 40px;

      div {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
      }
    }

    .search_empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 100px;

      p {
        text-align: center;
        padding-top: 40px;
      }
    }

    .search_results {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }
}
