.small_logo_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100px;

  .arrow {
    width: 10px;
    cursor: pointer;
  }

  .logo {
    justify-self: end;
    float: right;

    width: 55px;
    height: 55px;

    cursor: pointer;
  }
}
