:root {
  --background-gradient: linear-gradient(
    180deg,
    #ea4f32 0%,
    #f06b52 0.01%,
    #f45033 0.02%,
    #e80f5d 100%
  );

  --text-color: #fff;
  --text-color-secondary: #f0694f;
  --text-color-muted: #ffabab;
  --text-color-more-muted: #ffbaba;

  --chat-bubble-theirs: #e9135c;
  --chat-bubble-theirs-border: #f0694f;
  --chat-bubble-yours: #e9135c;

  --notification-color: #e80f5d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
